{% extends 'base.html' %}
    <!--Usando um block, é possível inserir um conteúdo dentro de uma página modelo.<br>
    ou seja, posso ter todo um cabeçalho/menu/rodapé padronizado e só alterar o<br>
    conteúdo da minha página para cada route (endpoint)-->
{% block body %}
    <div class="container mt-3">
        <div class="container">
            <div class="row border mt-4 p-3 stats justify-content-center">
                <div class="col-3 text-center">
                    <div class="image me-3"> <img src="{{url_for('static',filename='fotos_perfil/{}'.format(post.author.photo) )}}" class="rounded" width="155"> </div>
                    <h4 class="mb-0 mt-0">{{post.author.username}}</h4> <span>{{post.author.email}}</span>
                    <hr>
                    <strong>Cursos</strong>
                        {% for item in post.author.courses.split(';')%}
                                <div class="col w-100 ">
                                    <button class="btn btn-warning btn-sm mt-2 w-100" disabled>{{item}}</button>
                                </div>
                        {% endfor %}
                </div>
                <div class="col-9">
                     <a href="{{url_for('exibir_post', post_id=post.id)}}" class="text-decoration-none text-warning">
                        <h3>{{post.title}}</h3>
                    </a>
                    <small class="text-muted mb-5">Data de Criação: {{post.date_creation.strftime('%d/%m/%Y')}}
                        {% if form%}
                            - <a href="#form_editarpost" class="text-decoration-none">Editar Post</a> /
                              <a href="#"class="text-decoration-none text-danger" data-bs-toggle="modal" data-bs-target="#excluirPost"> Excluir Post</a>
                        {% endif %}
                    </small>

                    <p>{{post.content}}</p>
                </div>

            </div>
        </div>
    </div>


{% if form %}
    <div class="container mt-1 d-flex justify-content-center" >
        <div class="row w-100">
          <div class="col">
            <div class="card border-0 shadow rounded-3 my-5 w-100">
              <div class="card-body p-4 p-sm-5">
                <h5 class="card-title text-center mb-5 fw-light fs-5"><strong>Editar Post</strong></h5>
                  <!-- CUIDADO! Sempre q tiver upload de arquivo, precisa do ENCTYPE="multipart/form-data"-->
                <form method="POST" id="form_editarpost" >
                  {{form.csrf_token }}
                 <div class="form-group mb-3">
                    {{form.titulo.label(class="form-control-label")}}
                    {% if form.titulo.errors %}
                      {{form.titulo(class="form-control form-control-lg mt-2 is-invalid")}}
                      <div class="invalid-feedback">
                        {% for erro in form.titulo.errors %}
                            {{erro}}
                        {% endfor %}
                      </div>
                    {%else %}
                       {{form.titulo(class="form-control form-control-lg mt-2")}}
                    {% endif %}
                  </div>

                   <div class="form-group mb-3">
                    {{form.corpo.label(class="form-control-label")}}
                     {% if form.corpo.errors %}
                      {{form.corpo(class="form-control form-control-lg mt-2 is-invalid")}}
                      <div class="invalid-feedback">
                        {% for erro in form.corpo.errors %}
                            {{erro}}
                        {% endfor %}
                      </div>
                    {%else %}
                       {{form.corpo(class="form-control form-control-lg mt-2")}}
                    {% endif %}
                  </div>

                  <div class="d-grid">
                    {{form.botao_submit(class="w-100 btn btn-lg btn-primary")}}
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="excluirPost" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Excluir Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Você deseja realmente excluir este POST?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <form method="POST" action="{{url_for('excluir_post', post_id = post.id)}}">
            <button type="submit" class="btn btn-danger"  data-bs-dismiss="modal"   >Excluir</button>
          </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}
